# Demo - Pandas

In [1]:
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [2]:
# view raw values
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [3]:
# view index
data.index

RangeIndex(start=0, stop=4, step=1)

In [4]:
# we can index, just like a standard Python list
data[1]

0.5

In [5]:
# Because index is a RangeIndex, we can do
# normal slicing from offset 1 to offset 2
# 
data[::-1]

3    1.00
2    0.75
1    0.50
0    0.25
dtype: float64

In [6]:
# create a series with non-integer indices
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])

In [7]:
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [8]:
# similar to dict indexing
data['c']

0.75

In [9]:
# if you are particularly perverse...
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [10]:
data.loc[3]

0.75

# Implicit and Explicit Indexing

In [11]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [12]:
# index is no longer a range
# indices are like keys in a dictionary
data.index

Int64Index([1, 3, 5], dtype='int64')

In [13]:
data[1] # index by numeric index, not offset!

'a'

In [14]:
# but slicing still works as before
data.loc[1:3] # offset 1...offset 2

1    a
3    b
dtype: object

# __`loc`__ and __`iloc`__
* .loc is a __*label*__-based indexing method
* .iloc is an __*position*__-based indexing method

In [15]:
data

1    a
3    b
5    c
dtype: object

In [16]:
data.loc[1] # 1 here is a label, not an offset

'a'

In [17]:
data.loc[1:2] # 1 and 3 are labels, not integer offsets

1    a
dtype: object

In [18]:
data.iloc[1] # 1 is an offset, not a label

'b'

In [19]:
data.iloc[1:3] # 1..3 is a Python slice based on offsets

3    b
5    c
dtype: object

# Python Dicts as Series

In [20]:
population_dict = {'California': 38332521,
                       'Texas': 26448193,
                       'New York': 19651127,
                       'Florida': 19552860,
                       'Illinois': 12882135,
                        'North Dakota': 10000000}
population = pd.Series(population_dict)
population

California      38332521
Texas           26448193
New York        19651127
Florida         19552860
Illinois        12882135
North Dakota    10000000
dtype: int64

In [21]:
population[::-1]['New York':'California']

New York      19651127
Texas         26448193
California    38332521
dtype: int64

In [22]:
population['California':'New York']

California    38332521
Texas         26448193
New York      19651127
dtype: int64

# Pandas DataFrame

In [23]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
                 'Florida': 170312, 'Illinois': 149995, 'Rhode Island': 1000}
area = pd.Series(area_dict)
area

California      423967
Texas           695662
New York        141297
Florida         170312
Illinois        149995
Rhode Island      1000
dtype: int64

In [24]:
# states = 
# states
pd.DataFrame(data=[population.values, area.values]).transpose()

          0       1
0  38332521  423967
1  26448193  695662
2  19651127  141297
3  19552860  170312
4  12882135  149995
5  10000000    1000

In [25]:
states.index

NameError: name 'states' is not defined

In [ ]:
states.columns = ['pop', 'area']
states

In [ ]:
states['area']

In [ ]:
states.values

In [ ]:
# get descriptive statistics
states.describe()

# Sales Data

In [ ]:
dat = pd.read_csv("data/WA_Fn-UseC_-Sales-Win-Loss.csv")

In [ ]:
dat.columns

In [ ]:
dat['Opportunity Result']

# Counting Values

In [ ]:
dat['Opportunity Result'].value_counts()

In [ ]:
dat['Supplies Group'].value_counts()

In [ ]:
dat['Elapsed Days In Sales Stage'].value_counts().sort_values(ascending = True)

# Top Five Values

In [ ]:
dat['Supplies Subgroup'].value_counts()

# Extracting Columns

In [ ]:
dat[:5].T

In [ ]:
region_results = dat[["Region", "Opportunity Result", "Sales Stage Change Count"]]
dat.describe()

In [ ]:
region_results.shape

In [ ]:
region_results.head()

# Setting the Index
* oftentimes the index of the DataFrame is something we don't care about, e.g., a default numeric index or sequence number

In [ ]:
presidents = pd.DataFrame([
    { 'name': 'James Madison', 'elect': 1808, 'born': 1751 },
    { 'name': 'Thomas Jefferson', 'elect': 1800, 'born': 1743 },
    { 'name': 'John Adams', 'elect': 1796, 'born': 1735 },
    { 'name': 'George Washington', 'elect': 1788, 'born': 1724 },
])
presidents

In [ ]:
# the default numeric isn't interesting
# let's use name as the index
presidents.set_index('name', inplace=True)

In [ ]:
presidents.index